@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"),
    url(./fonts/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu-Light";
  src: local("Ubuntu-Light"),
    url(./fonts/Ubuntu/Ubuntu-Light.ttf) format("truetype");
}

body { 
  background-color: #dedede;
  font-family: Ubuntu;
}